<div id="body">
  <div class="container_12">
    <p class="grid_6 prefix_3 suffix_3"><%= image_tag "fusion.png", :width => "460" %></p>
    <h6 class="grid_6 prefix_3 suffix_3">
      It is a long established <span>fact</span> that a reader will be distracted by the readable content of a page when <span>looking</span> at its layout. The point of using <em>Lorem Ipsum</em> is that it has a more-or-less normal <span>distribution</span> of letters, as opposed to using 'Content here, content here', making it look like <span>readable</span> English.
    </h6>  

    <% if flash[:notice] %>
      <div class="ui-state-highlight ui-corner-all">
        <p>
          <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
          <%= flash[:notice] %>
        </p>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div class="grid_6 push_3 ui-widget">
        <div class="ui-state-error ui-corner-all" style="padding: 0 .7em;"> 
          <p><span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span> 
            <strong>Alert:</strong> <%= flash[:error] %></p>
        </div>
      </div>

      <div class="clear"></div>
    <% end %>

    <%= form_tag sessions_path do %>
      <div class="grid_6 push_3">
        <%= text_field_tag :login, params[:login], :value => "Email", :class => "ui-state-default ui-corner-all" %>
        <%= password_field_tag :password, "password", :class => "ui-state-default ui-corner-all" %>
        <%= submit_tag "Log In", :style => "float:right;", :class => "ui-button ui-state-default ui-corner-all ui-button-text-only", :id => "button", :role => "button", "aria-disabled" => false %>
    </div>

    <% end %>
    <%# http://blog.eizesus.com/2010/03/creating-a-rails-authentication-system-on-mongoid-part-3-password-resets-8-3-2010/ %>
    <!-- <span id="forgot" class="grid_6 push_2"><%# link_to "Forgot password?", root_path %></span> -->
  </div>
</div>
