<%= form_for([@task, @comment], :html => { :multipart => true }) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <%= f.fields_for :images do |image_form| %>
    <%= image_form.hidden_field :task_id, :value => @task.id %>
    
    <p>
      <%= image_form.label :attachment %>
      <%= image_form.file_field :attachment %>
    </p>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
