<% content_for :head do %>
  <%= stylesheet_link_tag 'imgareaselect-animated' %>
  <%= javascript_include_tag 'jquery.imgareaselect.min' %>
<% end %>


<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @comment.author %>
</p>

<p>
  <b>Message:</b>
  <%= @comment.message %>
</p>
<p>
  Comment last edited by <%= @comment.version > 1 ? @comment.versions.last.user.username : @comment.user.username %><br />
  Comment version: <%= @comment.version %><br />
  When: <%= time_ago_in_words @comment.updated_at %> ago
</p>
<p>
  <%= current_user.username %>
</p>

<div id="annotations">
<% @comment.images.each do |image| %>
  <%= div_for image do %>
  <%= image_tag 'trafalgar-square-annotated.jpg', :width => '600', :height => '398', :class => 'annotatable' %>
<% end %>
  Last edited by <%= image.version %>
  <%= link_to "New Note", new_comment_image_annotation_path(image), :remote => true %>
    <div id="notes">
  <% image.annotations.each do |annotation| %> 
    <%= link_to annotation.text, comment_image_annotation_path(image, annotation), :remote => true %>
  <% end %>
  </div>
<div class="result">

</div>
<% end %>

</div>
