<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Complete:</b>
  <%= @task.complete %>
</p>

<% @comments.each do |comment| %>
  <%= comment.message %>
<% end %>

<%= render :partial => 'comments/form' %>

