<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Complete:</b>
  <%= @task.complete %>
</p>

<% @comments.each do |comment| %>
  <%= comment.message %>
  
  <% comment.images.each do |image| %>
    <% unless image.new_record? %>
      <%= image_tag image.url(:small) %>
    <% end %>
  <% end %>
  
<% end %>

<%= render :partial => 'comments/form' %>


