<div class="grid_12">
  <h3 class="title ui-state-default ui-corner-all"><%= @task.name %></h3>

  <ul id="aspects">
  
    <li id="graphics">
      <h3 class="title ui-state-default ui-corner-all">Graphics</h3>
      <div class="info">
        <div style="margin-bottom:20px;">
          <%= render @images %>
        </div>
        <div class="clear"></div>
        <br />
        <%= render "images/form" %>
        <br />
      </div>
    </li>
    <li id="graphics">
      <h3 class="title ui-state-default ui-corner-all">Messages</h3>
      <div class="info">
        <%= render @comments %>
        <%= render 'comments/form' %>
      </div>
    </li>    
  </ul>
</div>

<%= content_for :nav do %>
  <%= button_to "Back to Project", @project, :method => :get %>
<% end %>
