<% content_for :head do %>
  <%= stylesheet_link_tag 'imgareaselect-animated' %>
  <%= javascript_include_tag 'jquery-imgareaselect-0.9.3.min' %>
<% end %>

<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Complete:</b>
  <%= @task.complete %>
</p>

<div id="annotations">
<% @comments.each do |comment| %>
  <%= comment.message %>
  
  <% comment.images.each do |image| %>
    <%= div_for image do %>
      <% unless image.new_record? %>
        <%= image_tag image.attachment(:large) %>
        Version: <%= image.version %>
  <%= link_to "New Note", new_image_annotation_path(image), :remote => true %>
  <%= link_to "New Drawing", new_image_drawing_path(image) %>
        <div class="notes">
  <% image.annotations.each do |annotation| %> 
    <%= link_to annotation.text, image_annotation_path(image, annotation), :remote => true %>
  <% end %>
      <% end %>
    <% end %>
  <% end %>
  
<% end %>

<%= render :partial => 'comments/form' %>

<div class="result">

</div>
