<div id="projects" class="grid_3">
  <h2><%= link_to @project.name, @project %></h2>
  <h4>Milestones</h4>
  <%= render @project.milestones %>
</div>

<div class="grid_9">

  <ul id="aspects">
  
    <li id="graphics">
      <div class="title ui-state-default ui-corner-all">Graphics</div>
      <div class="info">
        <%= render @images %>
        <br />
        <%= render "images/form" %>
        <br />
      </div>
    </li>
    <li id="graphics">
      <div class="title ui-state-default ui-corner-all">Messages</div>
      <div class="info">
        <%= render @comments %>
        <br />
        <%= render 'comments/form' %>
        <br />
      </div>
    </li>    
  </ul>
</div>
