
<div id="tools"> 
  <%= link_to((image_tag "annotate.png", :height => 35), new_comment_image_annotation_path(@image), :remote => true) %>
  <%= link_to("Annotate", new_comment_image_annotation_path(@image), :remote => true, :class => 'padding_right') %>
  <%= link_to((image_tag "pencil.gif", :height => 35, :class => 'border_left'), new_comment_image_drawing_path(@image), :remote => true) %>
  <%= link_to("Draw", new_comment_image_drawing_path(@image), :remote => true) %>
</div> 
<canvas id="canvas"></canvas> 

<% content_for :before_head do %>
  <%= javascript_tag do %>
    source = '<%= @image.attachment(:large) %>';
  <% end %>
<% end %>

<div id="sidebar">
  <h2><%= "U2" %></h2>
  <h4>version <%= @image.version %></h4>

  <% if @image.annotations.length > 1 %>
    <div id="annotation_list">
      <% @image.annotations.each do |a| %>
        <% unless a.new_record? %>
          <p><%= link_to annotation_text(a), comment_image_annotation_path(@image.id, a.id), :remote => true %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>

    <% if @image.drawings.length > 1 %>
    <div id="drawing_list">
      <% @image.drawings.each do |d| %>
        <% unless d.new_record? %>
          <p><%= link_to d.id, comment_image_drawing_path(@image.id, d.id), :remote => true %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  
  <div id="new_annotation"></div>

</div>

<div id="ias_image">
  <%= image_tag @image.attachment(:large) %>
</div>
