<h1>Listing clients</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Website</th>
    <th>Phone</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.name %></td>
    <td><%= client.website %></td>
    <td><%= link_to 'Show', client %></td>
    <% if can? :update, client %>    
    <td><%= link_to 'Edit', edit_client_path(client) %></td>
  <% end %>
    <td><%= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client', new_client_path %>
