<% title "Clients" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for client in @clients %>
    <tr>
      <td><%= client.name %></td>
      <td><%= link_to "Show", client %></td>
      <td><%= link_to "Edit", edit_client_path(client) %></td>
      <td><%= link_to "Destroy", client, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Client", new_client_path %></p>
