<div class="grid_12">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @client.name %>
  </p>

  <p>
    <b>Website:</b>
    <%= @client.website %>
  </p>

  <b>Projects</b>
  <p>
    <% @client.projects.each do |p| %>
      <%= p.name %><br />
    <% end %> 
  </p>

  <%= link_to 'Edit', edit_client_path(@client) %> |
  <%= link_to 'Back', clients_path %>
</div>
