<div class="grid_3">
  <h4 class="title ui-state-default ui-corner-all">
    <%= @project.name %>
  </h4>
</div>
<div class="grid_3">
  <h4 class="title ui-state-default ui-corner-all">Members</h4>
    <h6 style="float:left;">Employees</h6>
  <%= render @project.users.where(:type => "Employee") %>
    <h6 style="float:left;">Clients</h6>
  <%= render @project.users.where(:type => "Client") %>
</div>

<div class="grid_6">
  <h4 class="title ui-state-default ui-corner-all">Milestones</h4> 
  <div class="info">
    <%= render @milestones %>
    <%= render 'milestones/form' %>
  </div>
</div>
