<%= div_for (annotation) do %>
  <p>
    <%= annotation.user.name %>: <%= link_to_if annotation.x1, annotation_text(annotation), image_annotation_path(annotation.image.id, annotation.id), :remote => true %> <%= time_ago_in_words annotation.updated_at %> ago<br />
    <%= link_to "edit", edit_image_annotation_path(annotation.image.id, annotation.id), :remote => true %><br />
    <%= link_to "delete", image_annotation_path(annotation.image.id, annotation.id), :method => :delete, :remote => true, :confirm => "Are you sure?" %>
  </p>
<% end %>
