<%= form_for([@image, @annotation], :remote => true) do |f| %>

  <div class="field">
    <%= f.hidden_field :x1 %>
  </div>
  <div class="field">
    <%= f.hidden_field :x2 %>
  </div>
  <div class="field">
    <%= f.hidden_field :y1 %>
  </div>
  <div class="field">
    <%= f.hidden_field :y2 %>
  </div>
  <div class="field">
    <%= f.hidden_field :width %>
  </div>
  <div class="field">
    <%= f.hidden_field :height %>
  </div>
  <div class="field">
    <%= f.label :text, "Note" %><br />
    <%= f.text_field :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

