<div id="projects" class="grid_3">
  <h2><%= link_to @image.project.name, project_path(@image.project) %></h2>
  <h4>version <%= @image.version %></h4>
  <div id="approval">
    <%= render 'approval' %>
  </div>
  <p><%= link_to("New annotation", new_image_annotation_path(@image), :remote => true) %> </p>
  <%# link_to((image_tag "pencil.gif", :height => 35, :class => 'border_left'), new_image_drawing_path(@image), :remote => true) %>
  <%# link_to("Draw", new_image_drawing_path(@image), :remote => true) %>

  <div id="annotation_list">
    <%= render @annotations %>
  </div>
</div>

<div id="ias_image" class="grid_9">
  <%= image_tag @image.attachment(:large), :width => 700, :id => 'img_note' %>
</div>

