<!DOCTYPE html>
<html>
  <head>
    <title>FUSION</title>
    <%= stylesheet_link_tag "reset", "text", "960", "application", :cache => true %>
    <%= javascript_include_tag 'jquery', 'ui', 'rails', 'application', :cache => true %>
    <%= yield(:head) %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
