<!DOCTYPE html>
<html>
  <head>
    <title>FUSION</title>
    <%= stylesheet_link_tag "reset", "text", "960", "jquery-ui-1.8.6", "imgareaselect-animated", "application" %>
    <%= yield(:before_head) %>
    <%= javascript_include_tag 'jquery-1.4.4.min', "jquery-ui-1.8.6.min", "jquery-imgareaselect-0.9.3.min", 'rails', 'application' %>
    <%= yield(:head) %>
    <%= favicon_link_tag %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="container_12">
      <div id="header" class="grid_12">
        <div id="logo" class="grid_3 alpha">
          <%= link_to root_path do %><%= image_tag "logotype.png", :width => "220" %><% end %>
        </div>
        <div id="login" class="grid_3">
          <%= link_to root_path do %><%= image_tag "atom.png", :height => 52 %><% end %>
        </div>
        <div class="grid_6 omega">
          <% if logged_in? %>
            <div id="navigation" style="float:left;">
              <%= button_to "Dashboard", root_path %><%= button_to "Help", root_path %>
            </div>
          <% end %>
          <%= link_to root_path do %><%= image_tag "cmonk.png", :height => 52, :style => "float:right" %><% end %>
        </div>
      </div>

      <div class="clear"></div>

      <%= yield %>

      <div class="clear"></div>

      <div id="footer" class="grid_12">
        129 Kingston Street, Second Floor  /  Boston, MA 02111 USA  / /  <%= mail_to "info@prod4ever.com", "info@prod4ever.com", :encode => :javascript %>  / /  (617) 426-0499
      </div>
    </div>
  </body>
</html>
